bot/workflows/02-web-submit.json
{
  "name": "02 - Web Submit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        240
      ],
      "webhookId": "awaaz-web-submit",
      "id": "w2-n1-webhook"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || $json;\nreturn [{ json: {\n  channel: 'web',\n  citizen_key: b.citizen_key || b.session_id || ('web-' + Date.now()),\n  media_type: b.media_type || 'text',\n  text: b.text || '',\n  audio_base64: b.audio_base64 || null,\n  photo_base64: b.photo_base64 || null,\n  mime_type: b.mime_type || null,\n  lat: b.lat ?? null,\n  lng: b.lng ?? null,\n  location_text: b.location_text || null,\n  language_hint: b.language_hint || null,\n  channel_message_id: b.client_message_id || null,\n} }];"
      },
      "name": "Normalize Web Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        240
      ],
      "id": "w2-n2-normalize"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_W3_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "03 - Process Submission"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channel": "={{ $json.channel }}",
            "citizen_key": "={{ $json.citizen_key }}",
            "media_type": "={{ $json.media_type }}",
            "text": "={{ $json.text }}",
            "audio_base64": "={{ $json.audio_base64 }}",
            "photo_base64": "={{ $json.photo_base64 }}",
            "mime_type": "={{ $json.mime_type }}",
            "lat": "={{ $json.lat }}",
            "lng": "={{ $json.lng }}",
            "location_text": "={{ $json.location_text }}",
            "language_hint": "={{ $json.language_hint }}",
            "channel_message_id": "={{ $json.channel_message_id }}"
          },
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "name": "Run W3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        240
      ],
      "id": "w2-n3-runw3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        240
      ],
      "id": "w2-n4-respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Web Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Web Body": {
      "main": [
        [
          {
            "node": "Run W3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run W3": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "REPLACE_AFTER_IMPORT",
  "tags": []
}